body {
    /* background-color: #313338; */
    color: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;

    overflow: hidden;

    /* background-color: black; */
}

#background {
    position: absolute;
    top: 0px;
    left: 0px;
}

nav ul.topnavbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul.topnavbar li {float: left;}

nav ul.topnavbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul.topnavbar li a:hover:not(.active) {background-color: #111;}
nav ul.topnavbar li a.active {background-color: #04AA6D;}
nav ul.topnavbar li.right {float: right;}

#logo {
    /* position: absolute; */
    top: 0px;
    left: 0px;
    width: 900px;
    height: 320px;
    /* width: 100vw; */
    /* height: 100vh; */
}

.face {
    border-radius: 50%;
}
