body {
    background-color: #313338;
    color: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;

    overflow: hidden;

    background-color: black;
}

.face {
    border-radius: 50%;
}
